<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/tempura-doc/{{resolve "../style.css"}}" type="text/css" media="all">
    <title>{{front.title}}</title>
  </head>
  <body class="container">
    <header class="header">
      <!-- empty -->
    </header>
    <main class="main">
      {{{md2html content}}}
    </main>
    <footer class="footer">
      <div>Built with <a href="https://github.com/yuma140902/tempura">Tempura</a></div>
    </footer>
  </body>
</html>
